<!DOCTYPE html>

    <head>
        <title>CubeSat GroundControl</title>
        <link rel="stylesheet" href='../static/style.css'/>
    </head>
    <body>

        <form method="post" action="/">


            <div style=" height:400px; width:300px;">
                <center>
                <h2><span style="color:#5C5C5C;">CSULA x Aerospace Corporation </span></span></h2>
                <h2>CubeSat 2020 "TrashPicker" </h2><br><br>
                

                <center>
                <input type="submit" value="Forward" name="Forward"/>
                </center>
                <center>
                <input type="submit" value="Left" name="Left"/>
                <input type="submit" value="Right" name="Right" />
                </center>
                <center>
                <input type="submit" value="Reverse" name="Reverse" />

                </center>



                <center>
                <input type="submit" value="Stop" name="Stop"/>

                </center>
                <center>
                <input type="submit" value="CounterClock" name="CounterClock"/>
                <input type="submit" value="ClockWise" name="ClockWise"/>
                 </center>
                 <center>
                <input type="submit" value="StartDetectionTrack" name="StartDetectionTrack"/>
                 </center>
                 

                </center>
                <center>
                <h1><span style="color:#5C5C5C;">Connection Status </span></span></h1>
                <h3><span style="color:#5C5C5C;">CubeSat to SimPlat Status : </span></span></h3>
                <h3><span style="color:#5C5C5C;">CubeSat to GroundControl Status : </span></span></h3>
            </center>



            </div>

            </div>
        </form>
    </body>
</html>
